#manage{
    padding: 0 0 0 30%;
    margin: 15% 0 0 0;

    .manage{
        display: flex;

        .image{
            position: relative;

            img{
                position: absolute;
                top: 20em;
                right: 20em;
            }
        }

        .articles{
            margin: 0 0 0 20%;

            h4, .one, .two, .three{
                display: inline;
            }

            h4{
                margin: 0 0 0 10px;
            }

            p:last-child{
                margin: 10px 0 20px 50px;
            }
        }
    }
}