footer{
    display: flex;
    flex-direction: column;
    padding: 20px;

    .footer{
        display: flex;
        flex-direction: column;
        order: 3;
    }

    .footer-logo{
        margin: 10% auto;
    }

    .social{
        width: 420px;
        margin: 0 auto 20px auto;
        
        img{
            margin: 0 5px;
            width: 15%;
        }
    }

    .link{
        display: flex;
        margin: 0 auto 0 auto;

        .first,
        .second{
            display: flex;
            flex-direction: column;

            a{
                margin: 5px 0;
            }
        }

        .first{
            margin: 0 50px 0 0;
        }

    }

    .social,
    .link{
        width: 300px;
    }

    .info-footer{
        margin: 40px auto;
        order: -1;

        input{
            height: 50px;
            border-radius: 30px;
            padding: 0 10px;
            font-family: $my-font;
            border: none;
    }

        .btn{
            height: 15px;
            border-radius: 30px;
            box-shadow: 0 0 0;
            padding: 10px 40px 15px 40px;
            margin: 0 0 0 10px;
        }
     }
}