.btn-slider{
    display: none; // Nasconde il btn DOPO il carousel, prima della sezione simplify
}

#navbar{
    position: relative;

    header{
        padding: 20px;
    }
    .logo-container{
        float: left;
        display: flex;
        align-items: center;
        height: 40px;
    }

    ul, .btn{
        display: none;
    }

    img:nth-child(2){
       width: 500px;
       position: absolute;
       top: -8em;
       right: -13em;
       z-index: -2;    
    }

}