/*****************************
General
*****************************/

html,body{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

header{
    .btn{
        margin: auto;
    }
}

#navbar{
    ul{
        li{
            a{
                color: $primary-2;
                font-family: $my-font;
            }
        }
    }
}

.btn{
    font-family: $my-font;
    color: #fff;
    background: $primary-1;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 5px 5px 5px $primary-1;
}

h2{
    color: $primary-2;
}

h2, p{
    font-family: $my-font;
}

p{
   color: $neutral-1;
   font-size: 16px;
}