#manage{
    .manage{
        display: flex;
        flex-direction: column;

        .caption{
            margin: 300px auto 0 auto;
        }

        .image{
            position: relative;
            
            img{
                position: absolute;
                bottom: 35em;
                right: -35em;
                z-index: -2;
              }
        }

        .articles{
            width: 60%;
            margin: 50px auto 0 auto;
        }
    }
}